* {
    box-sizing: border-box;
  
}

button, input, select, textarea,li {
    font-family: inherit;
    font-weight: inherit;
    
  }


  .flex {
    display: flex;
  }

  .hidden {
    display: none ;
  }
  

body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'roboto';
    background-color: lightsteelblue;
}

.rules {
   border-radius: 20px;
    font-size: 1.5rem;
    line-height: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    padding: 1rem;
}


.win, .loss {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 1rem;
}

.win h2 {
    font-size: 3.5rem;
}

.loss h2 {
    font-size: 3.5rem;
    color: red;
}




li {
    font-size: 1.7rem;
    
}
.start {
    width:50%;
    background-color: lightyellow;  
    
}

.start:hover {
    background-color: lightgreen;
}



    .lives-skips {
        flex-direction: row;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-between;
    }

.game {
    border-radius: 20px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightblue; 
}


#image {
    width: 250px;
    height: 250px;
    filter: blur(8px)
    
}

.skip-next {
width: 90%;
justify-content: space-between;
padding: 1rem;
}


h1, .welcome, .winner {
    color: yellow;
    text-shadow: 
    -1.5px -1.5px 0 blue,  
    1.5px -1.5px 0 blue,  
    -1.5px 1.5px 0 blue,  
    1.5px 1.5px 0 blue; 
    font-style: italic;
    font-size: 2.5rem;
    
}

h2 {
    font-weight: 500;
}


button {
    cursor: pointer;
    border-radius: 50px;
    border: none;
    padding: .5rem;
    font-style: bold;
    transition: transform .1s ease;
}

button:hover {
    transform: scale(1.1);

}


.guess {
    padding: .5rem;
    border-radius: 20px;
    border: none;
    margin-right: .2rem;
}

.guess:focus {
    outline: 2px solid green;
}

.submitBtn:hover {background-color: lightsalmon;}

.skip:hover {background-color: lightcoral;}

.next:hover {background-color: lightgreen;}